<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Explorar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true">
  <div class="video-list" #videoContainer>
    <div *ngFor="let video of videos" class="video-container">
      <video #videoPlayer width="100%" height="100%" poster="{{ video.thumbnail }}" (click)="togglePlayPause(videoPlayer)" (ended)="restartVideo(videoPlayer)" (timeupdate)="checkLastVideo(videoPlayer)">
        <source [src]="video.videoURL" type="video/mp4">
        Tu navegador no soporta el tag de video.
      </video>
      <div class="description">
        @{{ getUserDisplayName(video.uploadedBy) }}
        {{ video.description }}
      </div>
    </div>
  </div>
</ion-content>
